<% provide(:title, "Edit user") %>
<div class="edit-profile">
<h1>Изменить свой профиль</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, 'Имя' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :avatar, 'Выберите аватар' %>
        <%= f.file_field :avatar, class: 'form-control' %>

        <%= f.label :study_place, 'Место учебы' %>
        <%= f.text_field :study_place, class: 'form-control' %>

        <%= f.label :group, 'Группа' %>
        <%= f.text_field :group, class: 'form-control' %>

        <%= f.label :faculty, 'Факультет' %>
        <%= f.text_field :faculty, class: 'form-control' %>

        <%= f.label :cafedra, 'Кафедра' %>
        <%= f.text_field :cafedra, class: 'form-control' %>

        <%= f.label :date_of_birth, 'День рождения' %>
        <%= f.date_select :date_of_birth, start_year: 1950, class: 'form-control' %>

        <%= f.label :city, 'Город' %>
        <%= f.text_field :city, class: 'form-control' %>

        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password, 'Пароль' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, 'Подтвердите пароль' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>