<% provide(:title, @user.name) %>
<div class="profile-div">
  <div class="profile-image-div">
    <%= image_tag @user.avatar.url(:profile) %>
  </div>
  <div class="profile-info-div">
    <ul>
      <li><h3><%= @user.name %></h3></li>
      <li><p><b>Место учебы:</b> <%= @user.study_place %></p></li>
      <li><p><b>Факультет:</b> <%= @user.faculty %></p></li>
      <li><p><b>Кафедра:</b> <%= @user.cafedra %></p></li>
      <li><p><b>Группа:</b> <%= @user.group %></p></li>
      <li><p><b>Должность:</b> <%= I18n.t :"activerecord.attributes.user.status.#{@user.status}" %></p></li><br>
      <li><p><b>День рождения:</b> <%= @user.date_of_birth %></p></li>
      <li><p><b>Город:</b> <%= @user.city %></p></li><br>
    </ul>
  </div>
  <div class="follow-form">
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>